{{#contacts}}
    {{> core_message/message_area_contact }}
{{/contacts}}
{{^contacts}}
    <div class="nocontacts">
        {{#isconversation}}
            {{#str}}noconversations, message{{/str}}
        {{/isconversation}}
        {{^isconversation}}
            {{#str}}nocontacts, message{{/str}}
        {{/isconversation}}
    </div>
{{/contacts}}
